<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_nepal_dairy_index_root"
              name="AITS"
              sequence="1"/>

    <menuitem id="menu_aits_run_log"
              name="Batches"
              action="action_aits_run_log"
              parent="menu_nepal_dairy_index_root"
              sequence="2"/>

    <menuitem id="menu_aits_reporting"
              name="Reporting"
              parent="menu_nepal_dairy_index_root"
              sequence="3"/>

    <menuitem id="menu_aits_run_output_all"
              name="All Tags"
              parent="menu_aits_reporting"
              action="action_aits_run_output"
              sequence="1"/>

    <menuitem id="menu_aits_run_output_cattle"
              name="Cattle Tags"
              parent="menu_aits_reporting"
              action="action_cattle_tags"
              sequence="2"/>

    <menuitem id="menu_aits_run_output_buffallo"
              name="Buffalo Tags"
              parent="menu_aits_reporting"
              action="action_buffalo_tags"
              sequence="2"/>

    <menuitem id="menu_aits_configuration"
              name="Configuration"
              parent="menu_nepal_dairy_index_root"
              sequence="4"/>


    <menuitem id="menu_nepal_dairy_index_list"
              name="Lists"
              action="action_nepal_dairy_index_list"
              parent="menu_aits_configuration"
              sequence="1"/>

    <menuitem id="menu_nepal_dairy_index_admin_units"
              name="Admin Units"
              parent="menu_aits_configuration"
              sequence="3"/>

    <menuitem id="menu_nepal_dairy_index_provinces"
              name="Provinces"
              parent="menu_nepal_dairy_index_admin_units"
              action="action_nepal_dairy_index_province"
              sequence="1"/>


</odoo>