<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem id="menu_evoucher_root"
              name="Evoucher"
              sequence="10"/>

    <menuitem id="menu_evoucher_staff"
              name="staff"
              action="action_evoucher_staff"
              parent="menu_evoucher_root"
              sequence="1"/>

    <menuitem id="menu_evoucher_staff_all"
              name="Print Vouchers"
              action="action_all_vouchers"
              parent="menu_evoucher_root"
              sequence="2"/>
</odoo>